#A{
    line-height: 75px;
    width: 480px;
    height: 75px;
    background-color: blue;
  }
  
  #B{ 
    line-height: 150px;
    width: 480px;
    height: 150px;
    background-color: pink;    
  }

  #C{
    line-height: 125px;
    width: 480px;
    height: 125px;
    background-color: aliceblue; 
  }
  #D{
    line-height: 125px;
    width: 480px;
    height: 125px;
    background-color: magenta; 
    }
  
  #E{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: plum;
    float: left; 
  }
  
  #F{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: springgreen;
    float: left; 
  }
  
  #G{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: rebeccapurple; 
    float: left;
  }
  
  #H{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: khaki; 
    float: left;
  }
  
  #I{
    line-height: 150px;
    width: 480px;
    height: 150px;
    background-color: lawngreen;
    float: left;
  }
