#A{
    line-height: 75px;
    width: 480px;
    height: 75px;
    background-color: grey;
  }
  
  #B{ 
    line-height: 150px;
    width: 480px;
    height: 150px;
    background-color: grey;    
  }

  #C{
    line-height: 125px;
    width: 480px;
    height: 125px;
    background-color: grey; 
  }
  #D{
    line-height: 125px;
    width: 480px;
    height: 125px;
    background-color: grey; 
    }
  
  #E{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: grey;
    float: left; 
  }
  
  #F{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: grey;
    float: left; 
  }
  
  #G{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: grey; 
    float: left;
  }
  
  #H{
    line-height: 250px;
    width: 240px;
    height: 250px;
    background-color: grey; 
    float: left;
  }
  
  #I{
    line-height: 150px;
    width: 480px;
    height: 150px;
    background-color: grey;
    float: left;
  }
