#A{
    border-style: solid;
    width: 480px;
    height: 75px;
    background-color: grey;
  }
  
  #B{ 
    border-style: solid;
    width: 480px;
    height: 150px;
    background-color: grey;    
  }

  #C{
    border-style: solid;
    width: 480px;
    height: 125px;
    background-color: grey; 
  }
  #D{
    border-style: solid;
    width: 480px;
    height: 125px;
    background-color: grey; 
    }
  
  #E{
    border-style: solid;
    width: 240px;
    height: 250px;
    background-color: grey; 
  }
  
  #F{
    border-style: solid;
    width: 240px;
    height: 250px;
    background-color: grey; 
  }
  
  #G{
    border-style: solid;
    width: 240px;
    height: 250px;
    background-color: grey; 
  }
  
  #H{
    border-style: solid;
    width: 240px;
    height: 250px;
    background-color: grey; 
  }
  
  #I{
    border-style: solid;
    width: 760px;
    height: 150px;
    background-color: grey;
  }
