header{
  display:flex;
}

 #rEls{
  display: flex;
  flex-wrap: wrap;
 }
#A{ 
    line-height: 75px;
    width: 100%;
    height: 75px;
    background-color: blue;
  }
  
  #B{ 
    line-height: 150px;
    width: 100%;
    height: 150px;
    background-color: pink;    
  }

  #C{
    line-height: 125px;
    width: 100%;
    height: 125px;
    background-color: aliceblue; 
  }
  #D{
    line-height: 125px;
    width: 100%;
    height: 125px;
    background-color: magenta; 
    }
  
  #E{
    line-height: 250px;
    width: 50%;
    height: 250px;
    background-color: plum;
  
  }
  
  #F{
    line-height: 250px;
    width: 50%;
    height: 250px;
    background-color: springgreen;
  
  }
  
  #G{
    line-height: 250px;
    width: 50%;
    height: 250px;
    background-color: rebeccapurple; 
  }
  
  #H{
    line-height: 250px;
    width: 50%;
    height: 250px;
    background-color: khaki; 
  }
  
  #I{
    line-height: 150px;
    width: 100%;
    height: 150px;
    background-color: lawngreen;
  
  }
