@media only screen and (min-width: 500px) {
 main{
   display: flex
  }

  #A{
  width: 100%;
  height: 100px;
  background-color: lawngreen;
}

#B{
  width: 20%;
  height: 600px;
  background-color: khaki;
  flex-wrap: wrap

}
#rEls{
  width: 80%;
  display:flex;
  flex-wrap: wrap;

}
#C{
  width: 50%;
  height: 200px;
  background-color: rebeccapurple;
  flex-wrap: wrap;
}

#D{
    width: 50%;
    height: 200px;
    background-color: springgreen;
    
  }

#E{
  width: 25%;
  height: 250px;
  background-color: plum;
  flex-wrap: wrap;
}

#F{
  width: 25%;
  height: 250px;
  background-color: magenta;
  flex-wrap: wrap;
}

#G{
  width: 25%;
  height: 250px;
  background-color: aliceblue;
  flex-wrap: wrap;
}

#H{
  width: 25%;
  height: 250px;
  background-color: pink;
  flex-wrap: wrap;
}

#I{
  width: 100%;
  height: 150px;
  background-color: blue;
  flex-wrap: wrap;
}








@media only screen and (max-width: 960px) {
  main{
    display: flex
   }
 
   #A{
   width: 100%;
   height: 100px;
   background-color: lightcoral;
 }
 
 #B{
   width: 20%;
   height: 1150px;
   background-color: honeydew;
   flex-wrap: wrap
 
 }
 #rEls{
   width: 80%;
   display:flex;
   flex-wrap: wrap;
 
 }
 #C{
   width: 100%;
   height: 250px;
   background-color: oldlace;
   flex-wrap: wrap;
 }
 
 #D{
     width: 100%;
     height: 250px;
     background-color: darkmagenta;
     
   }
 
 #E{
   width: 50%;
   height: 250px;
   background-color: hotpink;
   flex-wrap: wrap;
 }
 
 #F{
   width: 50%;
   height: 250px;
   background-color: aqua;
   flex-wrap: wrap;
 }
 
 #G{
   width: 50%;
   height: 250px;
   background-color: deepskyblue;
   flex-wrap: wrap;
 }
 
 #H{
   width: 50%;
   height: 250px;
   background-color: goldenrod;
   flex-wrap: wrap;
 }
 
 #I{
   width: 100%;
   height: 150px;
   background-color: thistle;
   flex-wrap: wrap;
 }
 